In [2]:
# Import Library dan Dataset

#import library
import pandas as pd
pd.options.display.max_columns = 50

#import dataset
df_load = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqlab_telco.csv')

#Tampilkan jumlah baris dan kolom
print(df_load.shape)

#Tampilkan 5 data teratas
print(df_load.head(5))

#Jumlah ID yang unik
print(df_load.customerID.nunique())

(7113, 22)
   UpdatedAt   customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     202006  45759018157  Female              0     Yes         No     1.0
1     202006  45557574145    Male              0      No         No    34.0
2     202006  45366876421    Male              0      No         No     2.0
3     202006  45779536532    Male              0      No         No    45.0
4     202006  45923787906  Female              0      No         No     2.0

  PhoneService     MultipleLines InternetService OnlineSecurity OnlineBackup  \
0           No  No phone service             DSL             No          Yes
1          Yes                No             DSL            Yes           No
2          Yes                No             DSL            Yes          Yes
3           No  No phone service             DSL            Yes           No
4          Yes                No     Fiber optic             No           No

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               No          No          No              No  Month-to-month
1              Yes          No          No              No        One year
2               No          No          No              No  Month-to-month
3              Yes         Yes          No              No        One year
4               No          No          No              No  Month-to-month

  PaperlessBilling              PaymentMethod  MonthlyCharges  TotalCharges  \
0              Yes           Electronic check           29.85         29.85
1               No               Mailed check           56.95       1889.50
2              Yes               Mailed check           53.85        108.15
3               No  Bank transfer (automatic)           42.30       1840.75
4              Yes           Electronic check           70.70        151.65

  Churn
0    No
1    No
2   Yes
3    No
4   Yes
7017

In [3]:
# Memfilter ID Number Pelanggan Format Tertentu

df_load['valid_id'] = df_load['customerID'].astype(str).str.match(r'(45\d{9,10})')
df_load = (df_load[df_load['valid_id'] == True]).drop('valid_id', axis = 1)
print('Hasil jumlah ID Customer yang terfilter adalah', df_load['customerID'].count())

Hasil jumlah ID Customer yang terfilter adalah 7006

In [4]:
# Memfilter Duplikasi ID Number Pelanggan

# Drop Duplicate Rows
df_load.drop_duplicates()
# Drop duplicate ID sorted by Periode
df_load = df_load.sort_values('UpdatedAt', ascending=False).drop_duplicates(['customerID'])
print('Hasil jumlah ID Customer yang sudah dihilangkan duplikasinya (distinct) adalah',df_load['customerID'].count())

Hasil jumlah ID Customer yang sudah dihilangkan duplikasinya (distinct) adalah 6993

In [5]:
# Mengatasi Missing Values dengan Penghapusan Rows

print('Total missing values data dari kolom Churn',df_load['Churn'].isnull().sum())
# Dropping all Rows with spesific column (churn)
df_load.dropna(subset=['Churn'],inplace=True)
print('Total Rows dan kolom Data setelah dihapus data Missing Values adalah',df_load.shape)

Total missing values data dari kolom Churn 43
Total Rows dan kolom Data setelah dihapus data Missing Values adalah (6950, 22)

In [6]:
# Mengatasi Missing Values dengan Pengisian Nilai tertentu

print('Status Missing Values :',df_load.isnull().values.any())
print('\nJumlah Missing Values masing-masing kolom, adalah:')
print(df_load.isnull().sum().sort_values(ascending=False))

# handling missing values Tenure fill with 11
df_load['tenure'].fillna(11, inplace=True)

# Handling missing values num vars (except Tenure)
for col_name in list(['MonthlyCharges','TotalCharges']):
	median = df_load[col_name].median()
	df_load[col_name].fillna(median, inplace=True)

print('\nJumlah Missing Values setelah di imputer datanya, adalah:')
print(df_load.isnull().sum().sort_values(ascending=False))

Status Missing Values : True

Jumlah Missing Values masing-masing kolom, adalah:
tenure              99
MonthlyCharges      26
TotalCharges        15
gender               0
UpdatedAt            0
customerID           0
Dependents           0
Partner              0
SeniorCitizen        0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
MultipleLines        0
InternetService      0
TechSupport          0
DeviceProtection     0
StreamingTV          0
StreamingMovies      0
PaperlessBilling     0
Contract             0
PaymentMethod        0
Churn                0
dtype: int64

Jumlah Missing Values setelah di imputer datanya, adalah:
UpdatedAt           0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

<ipython-input-6-a12db19d74b7>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_load['tenure'].fillna(11, inplace=True)
<ipython-input-6-a12db19d74b7>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_load[col_name].fillna(median, inplace=True)

In [7]:
# Mendeteksi Adanya Outlier Menggunakan Boxplot

print('\nPersebaran data sebelum ditangani Outlier: ')
print(df_load[['tenure','MonthlyCharges','TotalCharges']].describe())

# Creating Box Plot
import matplotlib.pyplot as plt
import seaborn as sns

Persebaran data sebelum ditangani Outlier:
            tenure  MonthlyCharges  TotalCharges
count  6950.000000     6950.000000   6950.000000
mean     32.477266       65.783741   2305.083460
std      25.188910       50.457871   2578.651143
min       0.000000        0.000000     19.000000
25%       9.000000       36.462500    406.975000
50%      29.000000       70.450000   1400.850000
75%      55.000000       89.850000   3799.837500
max     500.000000     2311.000000  80000.000000

In [15]:
# Mengatasi Outlier
# Asumsi df_load adalah DataFrame Anda
# Pastikan kolom-kolom ini bertipe numerik dan tidak ada NaN yang mengganggu perhitungan quantile
# Jika ada NaN, Anda mungkin perlu mengatasinya terlebih dahulu (misal: df_load.fillna(metode_imputasi))

columns_for_outlier = ['tenure', 'MonthlyCharges', 'TotalCharges']

# Menghitung Q1 dan Q3 hanya untuk kolom yang relevan
Q1 = df_load[columns_for_outlier].quantile(0.25)
Q3 = df_load[columns_for_outlier].quantile(0.75)

IQR = Q3 - Q1
maximum = Q3 + (1.5 * IQR)
minimum = Q1 - (1.5 * IQR)

print('Nilai Maximum dari masing-masing Variable adalah:')
print(maximum)
print('\nNilai Minimum dari masing-masing Variable adalah:')
print(minimum)

# Mengatasi Outlier: Mengganti nilai yang berada di luar batas dengan batas itu sendiri (winsorization)

# Iterasi melalui setiap kolom yang relevan
for col in columns_for_outlier:
    # Mengganti nilai yang lebih besar dari batas atas dengan batas atas
    df_load[col] = df_load[col].mask(df_load[col] > maximum[col], maximum[col])

    # Mengganti nilai yang lebih kecil dari batas bawah dengan batas bawah
    df_load[col] = df_load[col].mask(df_load[col] < minimum[col], minimum[col])

print('\nPersebaran data setelah ditangani Outlier:')
print(df_load[columns_for_outlier].describe())

Nilai Maximum dari masing-masing Variable adalah:
tenure             124.00000
MonthlyCharges     169.93125
TotalCharges      8889.13125
dtype: float64

Nilai Minimum dari masing-masing Variable adalah:
tenure             -60.00000
MonthlyCharges     -43.61875
TotalCharges     -4682.31875
dtype: float64

Persebaran data setelah ditangani Outlier:
            tenure  MonthlyCharges  TotalCharges
count  6950.000000     6950.000000   6950.000000
mean     32.423165       64.992201   2286.058750
std      24.581073       30.032040   2265.702553
min       0.000000        0.000000     19.000000
25%       9.000000       36.462500    406.975000
50%      29.000000       70.450000   1400.850000
75%      55.000000       89.850000   3799.837500
max     124.000000      169.931250   8889.131250

In [16]:
# Mendeteksi Nilai yang tidak Standar

# Masukkan variable
for col_name in list(['gender','SeniorCitizen','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn']):
	print('\nUnique Values Count \033[1m' + 'Before Standardized \033[0m Variable',col_name)
	print(df_load[col_name].value_counts())

Unique Values Count Before Standardized  Variable gender
gender
Male         3499
Female       3431
Wanita         14
Laki-Laki       6
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable SeniorCitizen
SeniorCitizen
0    5822
1    1128
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable Partner
Partner
No     3591
Yes    3359
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable Dependents
Dependents
No     4870
Yes    2060
Iya      20
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable PhoneService
PhoneService
Yes    6281
No      669
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable MultipleLines
MultipleLines
No                  3346
Yes                 2935
No phone service     669
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable InternetService
InternetService
Fiber optic    3057
DSL            2388
No             1505
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable OnlineSecurity
OnlineSecurity
No                     3454
Yes                    1991
No internet service    1505
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable OnlineBackup
OnlineBackup
No                     3045
Yes                    2400
No internet service    1505
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable DeviceProtection
DeviceProtection
No                     3054
Yes                    2391
No internet service    1505
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable TechSupport
TechSupport
No                     3431
Yes                    2014
No internet service    1505
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable StreamingTV
StreamingTV
No                     2774
Yes                    2671
No internet service    1505
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable StreamingMovies
StreamingMovies
No                     2747
Yes                    2698
No internet service    1505
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable Contract
Contract
Month-to-month    3823
Two year          1670
One year          1457
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable PaperlessBilling
PaperlessBilling
Yes    4114
No     2836
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable PaymentMethod
PaymentMethod
Electronic check             2337
Mailed check                 1594
Bank transfer (automatic)    1519
Credit card (automatic)      1500
Name: count, dtype: int64

Unique Values Count Before Standardized  Variable Churn
Churn
No       5114
Yes      1827
Churn       9
Name: count, dtype: int64

In [17]:
# Menstandarisasi Variable Kategorik

df_load = df_load.replace(['Wanita','Laki-Laki','Churn','Iya'],['Female','Male','Yes','Yes'])

# Masukkan variable
for col_name in list(['gender','Dependents','Churn']):
	print('\nUnique Values Count \033[1m' + 'After Standardized \033[0mVariable',col_name)
	print(df_load[col_name].value_counts())

Unique Values Count After Standardized Variable gender
gender
Male      3505
Female    3445
Name: count, dtype: int64

Unique Values Count After Standardized Variable Dependents
Dependents
No     4870
Yes    2080
Name: count, dtype: int64

Unique Values Count After Standardized Variable Churn
Churn
No     5114
Yes    1836
Name: count, dtype: int64